<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pushwoosh" translate="label" type="text" sortOrder="400" showInDefault="1" showInStore="1">
            <group id="web" translate="label" type="text" sortOrder="420" showInDefault="1" showInStore="1">
                <label>Web Notifications</label>
                <field id="version" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Current Version</label>
                    <backend_model>Pushwoosh\Web\Block\Adminhtml\System\Config\Version</backend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Web Notifications</label>
                    <comment><![CDATA[Choosing yes will enable web notifications.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
